einit/data/schema/einit-module.rnc

Module = element module {
  ModuleContents*
}

ModuleContents =
 ( element shell {
  (( attribute enable { text } , attribute disable { text } ) |
   ( attribute script { text } , attribute script-actions { text } )) ,
  CommonModuleAttributes 
 } |
 element daemon {
  attribute command { text } ,
  attribute restart { Boolean }? ,
  CommonModuleAttributes
 } )

CommonModuleAttributes =
 attribute id { text } ,
 attribute name { text } ,
 attribute provides { text } ,
 attribute prepare { text } ? ,
 attribute cleanup { text } ? ,
 attribute requires { text } ? ,
 attribute before { text } ? ,
 attribute after { text } ? ,
 attribute need-files { text } ? ,
 attribute pid { text } ? ,
 attribute variables { text } ? ,
 attribute options { text }? ,

 attribute group { text } ? ,
 attribute user { text } ? ,
 attribute gid { text } ? ,
 attribute uid { text } ? ,

# the following attributes are only allowed temporarily
 attribute opts { text } ? ,
 attribute envfile { text } ? ,
 attribute root { text } ? ,
 attribute DISPLAY { text } ? ,
 attribute HOME { text } ? ,
 attribute config { text } ?
