einit/data/schema/einit-module.rnc

Module = element module {
 ( element shell {
  (( attribute enable { text } , attribute disable { text } ) |
   ( attribute script { text } , attribute script-actions { text } )) ,
  CommonModuleAttributes 
 } |
 element daemon {
  attribute command { text } ,
  attribute options { text } ,
  attribute restart { Boolean } ,
  CommonModuleAttributes
 } )*
}

CommonModuleAttributes =
 attribute id { text } ,
 attribute name { text } ,
 attribute provides { text } ,
 attribute prepare { text } ? ,
 attribute cleanup { text } ? ,
 attribute requires { text } ? ,
 attribute before { text } ? ,
 attribute after { text } ? ,
 attribute need-files { text } ? ,
 attribute pid { text } ? ,
 attribute variables { text } ? ,
 attribute opts { text } ? ,
 attribute envfile { text } ? ,
 attribute root { text } ? ,
 attribute config { text } ?