einit/data/schema/einit-module.rnc

Module = element module {
  ModuleContents*
}

ModuleContents =
 element shell {
  ShellAttributes &
  CommonModuleAttributesRequired &
  CommonModuleAttributesOptional ?
 } |
 element daemon {
  DaemonAttributes &
  CommonModuleAttributesRequired &
  CommonModuleAttributesOptional ?
 }

DaemonAttributes =
 attribute command { text } &
 attribute restart { Boolean } ?

ShellAttributes = 
 (( attribute enable { text } & attribute disable { text } ) |
  ( attribute script { text } & attribute script-actions { text } ))

CommonModuleAttributesRequired =
 attribute id { text } &
 attribute name { text } &
 attribute provides { text }

CommonModuleAttributesOptional =
 attribute prepare { text } &
 attribute cleanup { text } &
 attribute requires { text } &
 attribute before { text } &
 attribute after { text } &
 attribute need-files { text } &
 attribute pid { text } &
 attribute variables { text } &
 attribute options { text } &
 attribute group { text } &
 attribute user { text } &
 attribute gid { text } &
 attribute uid { text } &
 attribute opts { text } &
 attribute envfile { text } &
 attribute root { text } &
 attribute DISPLAY { text } &
 attribute HOME { text } &
 attribute config { text }
