einit/data/schema/einit.rnc

namespace execute = "http://www.einit.org"

start = eINIT | Module | Network

eINIT = element einit {
  ( attribute prefix { "services-virtual-module" } & ModuleContents* ) |

  ( attribute prefix { "configuration-network" } & NetworkContents* ) |

  ( attribute prefix { "configuration-services" } & element * { attribute * { text }* }* ) |

  ( attribute prefix { "configuration-storage-fstab" } & FSTab ) |

  ( attribute prefix { "configuration-compatibility" } & ConfigurationCompatibility ) |

# the next ones are only temporary
  ( attribute prefix { "services-virtual-network" } &
    ( element ip { attribute * { text }* } | element ifctl { attribute * { text }* } | element misc { attribute * { text }* } )* ) |

  ( eINITMain )
}

IDAttribute = attribute id { text }

eINITMain =
  Core ? &
  Configuration ? &
  Services ? &
  Special ? &
  Subsystems ? &
  Mode * &
  Information ? &
  element options { attribute shutdown { text }? }? &
  element ttys { TTYAttribute } ? &
  element before-switch { attribute emit-event { text }? & attribute ipc { text }? } ? &
  element after-switch { attribute emit-event { text }? & attribute ipc { text }? } ?

Core = element core {
  element xml-validator { attribute command { text } }? &
  element settings {
    element xml-parser {
      element auto-create-missing-directories { BooleanAttribute }?
    }? &
    element configuration {
      element on-line-modifications { attribute save-to { text } }?
    }? &
    element modules {
      IDAttribute,
      PathAttributes
    }? &
    element configuration-path {
      StringAttribute
    }? &
   element allow-code-unloading { BooleanAttribute }?
  }* &
  element scheduler {
    element shutdown-function-suffixes { StringAttribute }? &
    element niceness { attribute core { text }, attribute tasks { text } }?
  }* &
  element module-logic {
    element init.d-path { StringAttribute }? &
    element maintain-init.d { StringAttribute, BooleanAttribute }?
  }* &
  element commands {
    element include {
      element file {
        StringAttribute
      }* & 
      element directory {
        PathAttributes
      }*
    }*
  }* &
  element mortality {
    element bad-malloc { IntegerAttribute }* &
    element bad-stdio { IntegerAttribute }* &
    element bad-regex { IntegerAttribute }* &
    element bad-expat { IntegerAttribute }* &
    element bad-dl { IntegerAttribute }* &
    element bad-lookup { IntegerAttribute }* &
    element bad-pthreads { IntegerAttribute }*
  }*
}

Configuration = element configuration {
  element system {
    element ctrl-alt-del { BooleanAttribute }* &
    element daemon-spawn-timeout { IntegerAttribute }* &
    element daemon-term-timeout-primary { IntegerAttribute }* &
    element daemon-term-timeout-secondary { IntegerAttribute }* &
    element shell { StringAttribute }* &
    element shell-exec-timeout { IntegerAttribute }* &
    element exec-envfile-base { StringAttribute }* &
    element proc-path { StringAttribute }* &
    element preload { attribute binaries { text } }* &
    element log { BooleanAttribute }* &
    element kexec-to-reboot {
     BooleanAttribute,
     attribute use-proc { Boolean }?,
     attribute kernel-image { string }?,
     attribute kernel-options { string }?,
     attribute kernel-initrd { string }? }* &
    element kexec-calls {
      attribute load { text },
      attribute load-initrd { text },
      attribute execute { text }
    }* &
    element device-manager { StringAttribute }?
  }* &

  element environment {
    element global { IDAttribute, StringAttribute }* &
    element safe { attribute * { text }* }?
  }* &

  element kernel {
    element modules {
      element autoload.d { attribute file { text } }? &
      element * { StringAttribute, BooleanAttribute? }*
    }*
  }* &

  Network* &

  element feedback {
    element textual { BooleanAttribute }? &
    element fbsplash { BooleanAttribute }? &
    element aural { BooleanAttribute }? &
    element visual {
      element std-io {
        attribute stdio { text },
        attribute stderr { text },
        attribute console { text } ?,
        attribute activate-vt { text }?,
        attribute verbose-output { text }?,
        attribute kernel-vt { text }?
      }? &

      element use-ansi-codes { BooleanAttribute }? &
      element shutdown-failure-timeout { IntegerAttribute }? &
      element broadcast-constraints { StringAttribute }? &
      element reset-shutdown-broadcast-messages { BooleanAttribute }? &
      element suppress-messages { BooleanAttribute }? &
      element suppress-status-notices { BooleanAttribute }? &

      element fbsplash {
        element ttys { StringAttribute }? &
        element theme { StringAttribute }? &

        element daemon {
          element ttys { attribute silent { text }, attribute verbose { text } } ? &
          element fifo { StringAttribute } ? &
          element mount-dir { BooleanAttribute, attribute size { text }, attribute path { text } } ?
        }?
      }*
    }* &

    element aural {
      element tts {
        element synthesizer-command { StringAttribute }? &
        element vocalising-threshold { IntegerAttribute }?
      }*
    }*
  }* &

  element ipc {
    element control-socket { StringAttribute, IntegerAttribute }? &
    element chain-command { attribute for { text }, attribute do { text } }? &

    element dbus {
      element connection {
        attribute name { text },
        attribute address { text }
      }?
    }*
  }* &

  element command {
    element rmmod { CommandAttributes }? &
    element modprobe { CommandAttributes }? &
    element ip-flush { CommandAttributes }? &
    element create-bridge { CommandAttributes }?
  }* &

  TTY ? &

  element compatibility {
    ConfigurationCompatibility
  } ? &

  element secondary {
   element if { attribute file-exists { text }? &
    element file-sh { IDAttribute & 
     ( attribute configuration-network-hostname { text } |
       attribute configuration-peripherals-keyboard { text } )
    }*
   }?
  }? &

  element storage {
    element update-steps { StringAttribute }? &
    element maintain-mtab { BooleanAttribute, StringAttribute }? &
    element filesystem-guessing-order { StringAttribute }? &

    element mountpoints {
      element no-umount { StringAttribute }? &
      element system { StringAttribute }? &
      element critical { StringAttribute }?
    } ? &

    element fsck-command { StringAttribute }? &

    element block-devices {
      element dev-constraints { PathAttributes }? &
      element source { StringAttribute }?
    }? &

    element fstab {
      FSTab
    }?
  } ?
}

Services = element services {
  element virtual {
    Module*
  } ? &

  element alias {
    ( element * { attribute group { List_of_services }, attribute seq { "most" | "all" | "any" | "any-iop" } }*
    | ( IDAttribute, StringAttribute ))
  }* &

  element prefer {
   element * { StringAttribute }*
  } ? &

  element override {
   element module { IDAttribute, ModuleDependenciesOptional, ModuleDependenciesRequired? } *
  } ? &

  element transform {
   IDAttribute,
   attribute module-id { text },
   attribute in { text },
   attribute out { text },
   attribute strip-from { text }?
  }*
}

Special = element special {
  element * { text }*
}

Subsystems = element subsystem {
 element c { 
  element compile-to { StringAttribute }? &
  element compile { attribute c { text } }? &
  element sources { IDAttribute & PathAttributes } *
 } ?
}

Mode = element mode {
  IDAttribute &
  attribute base { text }? &

  element enable { attribute services { List_of_services } & attribute critical { text }? }? &
  element disable { attribute services { List_of_services } }? &

  eINITMain &

  element overrides {
    eINITMain
  }?
}

TTY = element tty {
  element manage-utmp { BooleanAttribute }? &

  element * {
    attribute dev { text },
    attribute command { text },
    attribute restart { Boolean }
  }*
}

ConfigurationCompatibility =
  element sysv {
     attribute utmp { Boolean }? &
     attribute wtmp { Boolean }? &
    element utmp { BooleanAttribute }? & #Not sure if those
    element wtmp { BooleanAttribute }? & #should be here...
  
    element distribution {
      StringAttribute &

      element gentoo {
        element init.d { PathAttributes }? &
        element runlevels { PathAttributes & attribute exclusive { text }? }? &
        element parse-env.d { BooleanAttribute }? &
        element softlevel-tracker { BooleanAttribute & PathAttributes }? &
        element init.d-scriptlets { attribute svcdir-init { text }? & attribute execute { text }? }? &
        element service-group { IDAttribute & attribute service { text } & attribute put-into { text } }* &
        element runlevels-for-dependencies { StringAttribute }?
      }
    }? &

    element simulate-runlevel { attribute now { text } }? &
    element initctl { StringAttribute, BooleanAttribute, IntegerAttribute }? &
    element runlevel-mode-relations {
      attribute runlevel0 { text },
      attribute runlevel1 { text },
      attribute runlevel2 { text },
      attribute runlevel3 { text },
      attribute runlevel4 { text },
      attribute runlevel5 { text },
      attribute runlevel6 { text },
      attribute runlevelS { text },
      attribute runlevels { text }
    }?
  }

FSTab =
  element node {
    IDAttribute?,
    attribute mountpoint { text }?,
    attribute label { text }?,
    attribute device { text }?,
    attribute fs { text }?,
    attribute uuid { text }?,
    attribute options { text }?,
    attribute before-mount { text }?,
    attribute after-mount { text }?,
    attribute before-umount { text }?,
    attribute after-umount { text }?,
    attribute manager { text }?
  }* &
  element use-legacy-fstab { BooleanAttribute }? &
  element node-order {
    IDAttribute,
    attribute after { text }?,
    attribute before { text }?
  }*

Information =
  element information {
    element filesystem {
      element type {
        IDAttribute,
        attribute flags { text }?
      }*
    }?
  }

Boolean = "yes" | "no" | "true" | "false" | "enabled" | "disabled"

BooleanAttribute = attribute b { Boolean }
StringAttribute = attribute s { text }

IntegerAttribute = attribute i { text }

PathAttributes = attribute path { text }, attribute pattern-allow { text }?, attribute pattern-disallow { text }?
CommandAttributes = attribute with-env { text }, StringAttribute?

include "einit-module.rnc"
include "einit-network.rnc"
include "data-types.rnc"
